.My_Name{
    text-align: center;
}

.Contact_info{
    
    text-align: center;
    margin-top: -13px;
}

body{
    color: #3B7460;
}

.Sum{

    text-align: left;
    margin-left: 180px;
}

.Intro{
    margin-left: 40px;
    margin-right: 700px;
}

.Experience{

    text-align: left;
    margin-left: 180px;
    margin-top: 35px;
}

.job{

    padding-top: 13px;
    margin-top: -15px;
    text-align: left;
    margin-left: 37px;
}


.job_date{

    margin-top: -15px;
    text-align: left;
    margin-left: 37px;

}


.Listed_Skills_1{

    text-align: left;
    margin-left: 10px;
    padding-top: -37px;
    padding-bottom: 28px;

}

.Skills{
    text-align: right;
    margin-top: -707px;
    margin-left: 930px;
    
}

ol.Skills{
    text-align: right;
    text-align: start;
    margin-left: 67% ;
}

.Skilled,strong{
    margin-bottom: 10px;

}

.Skills,li{
    margin-right: auto;
    padding-right: 0;
    margin-left: 17px;
}