.My_Name {
    text-align: center;

    animation: MoveInRight is ease-out;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.Contact_info {

    text-align: center;
    margin-top: -13px;
}

body {
    color: black;
    text-align: auto;
    align-content: auto;

}

.Sum {

    margin-left: 180px;


    float: center;

    animation-name: MoveInLeft;
    animation-duration: 2s;
    animation: MoveInRight is ease-out;
    backface-visibility: hidden;
}

p.Intro {

    margin-left: 0px;
    margin-right: 560px;
    float: left;

    animation-name: MoveInLeft;
    animation-duration: 2s;
    animation: MoveInRight is ease-out;
    backface-visibility: hidden;
}

.Experience {

    text-align: left;
    margin-left: 180px;
    margin-top: 35px;

    animation-name: MoveInRight;
    animation-duration: 2s;
    animation: MoveInRight is ease-out;
    backface-visibility: hidden;
}

.job {

    padding-top: 13px;
    margin-top: -15px;
    text-align: left;
    margin-left: 37px;

    animation-name: MoveInRight;
    animation-duration: 2s;
    animation: MoveInRight is ease-out;
    backface-visibility: hidden;
}


.job_date {

    margin-top: -15px;
    text-align: left;
    margin-left: 37px;

    animation-name: MoveInRight;
    animation-duration: 2s;
    animation: MoveInRight is ease-out;
    backface-visibility: hidden;
}


.Listed_Skills_1 {

    text-align: left;
    margin-left: 10px;
    padding-top: -37px;
    padding-bottom: 28px;

    animation-name: MoveInRight;
    animation-duration: 2s;
    animation: MoveInRight is ease-out;
    backface-visibility: hidden;
}

.Inline .Skilled {
    text-align: right;
    text-align: start;
    margin-left: 40px;
}

h3.Skilled{
    margin-bottom: -210px;
}

.Education {
    text-align: center;
    margin-top: 25px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.School_Name {

    margin-top: -15px;
    text-align: left;
    margin-left: 37px;
    margin-top: 20px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.Grad_Year {
    margin-top: -15px;
    text-align: left;
    margin-left: 37px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.Area {
    margin-top: -13px;
    text-align: left;
    margin-left: 37px;
    padding-top: -30px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

h3.Skilled {
    margin-top: -380px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}


.Grad_Year2 {

    margin-top: -15px;
    text-align: right;
    margin-right: 37px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.School_Name2 {

    margin-top: -195px;
    text-align: right;
    margin-right: 37px;
    padding-top: -30px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.Area2 {
    text-align: right;
    margin-right: 37px;
    margin-top: -16px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

img.DP_Mascot {

    margin-left: 19px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

img.AVC_Mascot {

    margin-top: -7px;
    margin-left: 1000px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.Class_Year {

    margin-top: -15px;
    text-align: center;
    margin-right: 37px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.U_Classes {

    margin-top: -203px;
    text-align: center;
    margin-right: 37px;
    padding-top: -30px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

h6.Area3 {
    text-align: center;
    margin-right: 37px;
    margin-top: -16px;
    margin-bottom: 37px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

div.Udemy{

    text-align: center;
    margin-left: 35px;

    animation-name: MoveInUp;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.Copyright{

    text-align: center;
    margin-left: 35px;

    animation-name: MoveInUp;
    animation-duration: 2s;
}

.container{

    width:fit-content;
    height:fit-content;
}

@keyframes MoveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    65% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes MoveInRight {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    65% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes MoveInUp {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    65% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes MoveInLeft_2 {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    65% {
        opacity: 0;
        transform: translateY(100px);
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

.Intro::first-letter{
    font-size: 35px;
    font-weight: 45px;
}

.My_Name::after{
    content: "V.1";
    background-color: #ffe70e;
    font-size: 16px;
    display: inline-block;
    padding-left: 5px;